[Unit]
Description={{ app_name }}
After=syslog.target network.target

[Service]
Type=simple
User=root
Group=root
Environment="JAVA_HOME={{ java_home }}"
WorkingDirectory={{ app_home }}
ExecStart={{ app_bin_dir }}/startup.sh \
    --spring.profiles.active={{ spring.profiles }} \
    --spring.pid.file={{ app_pid_dir }}/{{ app_name }}.pid
KillSignal=15
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
