# ------------
# MacOS
# ------------
**/.DS_Store

# ------------
# 测试用文件
# ------------
**/PB-Test.yaml
**/roles/x/**
**/test.sh
**/test

# ------------
# 临时文件
# ------------
**/*.tmp
**/*.bak

# ------------
# 大文件
# ------------
**/*.jar
**/*.tar.gz
**/*.tgz
**/*.zip
**/*.gz
