[Unit]
Description=ETCD
Documentation=https://etcd.io/docs/
After=syslog.target network.target

[Service]
Type=simple
User=root
Group=root

ExecStart=/opt/etcd/etcd \
    --data-dir=/opt-data/etcd/ \
    --name {{ machine_dict[ansible_host] }} \
	--initial-advertise-peer-urls http://{{ ansible_host }}:{{ peer_port }} \
    --listen-peer-urls http://{{ ansible_host }}:{{ peer_port }} \
	--advertise-client-urls http://{{ ansible_host }}:{{ client_port }} \
    --listen-client-urls http://{{ ansible_host }}:{{ client_port }} \
	--initial-cluster {{ (machine_dict | dict2items)[0]['value'] }}=http://{{ (machine_dict | dict2items)[0]['key'] }}:{{ peer_port }},{{ (machine_dict | dict2items)[1]['value'] }}=http://{{ (machine_dict | dict2items)[1]['key'] }}:{{ peer_port }},{{ (machine_dict | dict2items)[1]['value'] }}=http://{{ (machine_dict | dict2items)[1]['key'] }}:{{ peer_port }} \
	--initial-cluster-state new \
    --initial-cluster-token {{ cluster_token }}
KillSignal=15
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target