# =================================================================================================
# 本配置文件是服务器端配置文件
#
# 参考:
# (1) http://dev.mysql.com/doc/mysql/en/server-system-variables.html
# =================================================================================================

[mysqld]

# -------------------------------------------------------------------------------------------------
# 基础
# -------------------------------------------------------------------------------------------------
user		                   = mysql
port		                   = 3306
pid_file	                   = /var/run/mysqld/mysqld.pid
socket	                       = /var/run/mysqld/mysqld.sock
datadir	                       = /var/lib/mysql/

# -------------------------------------------------------------------------------------------------
# 字符集
# -------------------------------------------------------------------------------------------------
character_set_server           = utf8mb4
collation_server               = utf8mb4_0900_ai_ci

# -------------------------------------------------------------------------------------------------
# 网络
# -------------------------------------------------------------------------------------------------
bind_address		           = *

# -------------------------------------------------------------------------------------------------
# 安全
# -------------------------------------------------------------------------------------------------
require_secure_transport       = OFF
default_authentication_plugin  = caching_sha2_password

# -------------------------------------------------------------------------------------------------
# "mysqlx"插件
# -------------------------------------------------------------------------------------------------
skip_mysqlx                    = ON
skip_mysqlx_cache_cleaner      = ON

# -------------------------------------------------------------------------------------------------
# "validate_password"插件 密码强度设置 
# -------------------------------------------------------------------------------------------------
plugin_load_add                   = validate_password.so
validate_password_check_user_name = OFF
validate_password_length          = 4
validate_password_policy          = LOW

# -------------------------------------------------------------------------------------------------
# 存储引擎选项
# -------------------------------------------------------------------------------------------------
default_storage_engine         = InnoDB
default_tmp_storage_engine     = InnoDB
skip_federated                 = ON
skip_blackhole                 = ON
skip_archive                   = ON

# -------------------------------------------------------------------------------------------------
# SQL Mode
# -------------------------------------------------------------------------------------------------
# 通过 "select @@session.sql_mode;" 查看
sql_mode = ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION

# -------------------------------------------------------------------------------------------------
# InnoDB引擎
# -------------------------------------------------------------------------------------------------

# BufferPoolSize总量小于1G时 InnoDB引擎只会分配一个实例
innodb_buffer_pool_size        = 256M
innodb_buffer_pool_instances   = 1

# 自适应Hash索引对B+树查找优化
innodb_adaptive_hash_index     = ON

# redo日志刷盘策略
innodb_flush_log_at_trx_commit = 1
innodb_log_file_size           = 48M
innodb_log_files_in_group      = 2
innodb_log_group_home_dir      = ./

innodb_undo_directory          = ./
innodb_undo_tablespaces        = 2

# -------------------------------------------------------------------------------------------------
# 事务
# -------------------------------------------------------------------------------------------------
transaction_isolation          = REPEATABLE-READ

# -------------------------------------------------------------------------------------------------
# 杂项
# -------------------------------------------------------------------------------------------------
lower_case_table_names         = 0

# -------------------------------------------------------------------------------------------------
# bin-log
# -------------------------------------------------------------------------------------------------
log_bin_trust_function_creators = 1

# -------------------------------------------------------------------------------------------------
# 错误日志
# -------------------------------------------------------------------------------------------------
log_error                       = /var/log/mysql/error.log

# -------------------------------------------------------------------------------------------------
# 慢查询日志 (拉低性能，只有需要调优时打开)
# -------------------------------------------------------------------------------------------------
slow_query_log		            = ON
slow_query_log_file	            = /var/log/mysql/mysql-slow.log
long_query_time                 = 2
log_queries_not_using_indexes   = ON

# -------------------------------------------------------------------------------------------------
# 一般日志 (严重拉低性能)
# -------------------------------------------------------------------------------------------------
general_log                     = ON
general_log_file                = /var/log/mysql/query.log

# ================================================================================================= 
# 以下待整理
# =================================================================================================

# If MySQL is running as a replication slave, this should be
# changed. Ref https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html#sysvar_tmpdir
# tmpdir		= /tmp

#
# * Fine Tuning
#
key_buffer_size		= 16M
# max_allowed_packet	= 64M
# thread_stack		= 256K

# thread_cache_size       = -1

# This replaces the startup script and checks MyISAM tables if needed
# the first time they are touched
myisam-recover-options  = BACKUP

# max_connections        = 151

# table_open_cache       = 4000

#
# The following can be used as easy to replay backup logs or for replication.
# note: if you are setting up a replication slave, see README.Debian about
#       other settings you may need to change.
# server-id		= 1
# log_bin			= /var/log/mysql/mysql-bin.log
# binlog_expire_logs_seconds	= 2592000
max_binlog_size   = 100M
# binlog_do_db		= include_database_name
# binlog_ignore_db	= include_database_name
