# =================================================================================================
# 本配置文件是客户端配置文件
#
# 参考
# (1) https://dev.mysql.com/doc/refman/en/mysql-command-options.html
# =================================================================================================

[mysql]
prompt                                  = (\\u@\\h:\\p) [\\d]>\\_
skip_auto_rehash                        = ON
default_character_set                   = utf8mb4
no_beep

[client]  
protocol                                = TCP  
host                                    = localhost
port                                    = 3306
user                                    = root
password                                = root
default_character_set                   = utf8mb4
