#!/usr/bin/env sh

{% for item in dump_databases %}
{{ mysqldump_exec }} -u{{ mysql.username }} -p{{ mysql.password }} {{ item }} | /usr/bin/gzip -c > {{ backup_dir }}/{{ item }}-{{ '%Y%m%d%H%M' | strftime }}.sql.gz
{% endfor %}
