[Unit]
Description={{ app_name }}
{% if app_doc_url | default('') %}
Documentation={{ app_doc_url }}
{% endif %}
After=syslog.target network.target

[Service]
Type=simple
User=root
Group=root
Environment="JAVA_HOME={{ java_home }}"
{% if envs is defined %}
{% for k, v in envs.items() %}
Environment="{{ k }}={{ v }}"
{% endfor %}
{% endif %}
WorkingDirectory={{ app_home }}
ExecStart={{ app_bin_dir }}/startup.sh
KillSignal=15
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target