[Unit]
Description=rocketmq
Documentation=https://rocketmq.apache.org/zh/docs/
After=syslog.target network.target

[Service]
Type=simple
User=root
Group=root
Environment="JAVA_HOME={{ java_home }}"
Environment="ROCKETMQ_HOME={{ rocketmq_home }}"
ExecStart={{ rocketmq_home }}/bin/mqbroker -c {{ rocketmq_home }}/conf/broker-this.properties
ExecStop=/opt/bin/mqshutdown broker
SuccessExitStatus=143
WorkingDirectory=/opt/rocketmq

[Install]
WantedBy=multi-user.target
