[Unit]
Description=XXL-job
Documentation=https://www.xuxueli.com/xxl-job/
After=syslog.target network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/opt/java-home/bin/java \
    -Djava.security.egd=file:/dev/./urandom \
    -jar /opt/xxl-job/xxl-job-admin-2.4.2.jar \
    --spring.datasource.url="jdbc:mysql://{{ db.ip }}:{{ db.port }}/{{ db.database_name }}?useUnicode=true&characterEncoding=UTF-8&autoReconnect=true&serverTimezone=Asia/Shanghai" \
    --spring.datasource.username="{{ db.username }}" \
    --spring.datasource.password="{{ db.password }}" \
    --server.port={{ server.port }} \
    --server.servlet.context-path="{{ server.servlet_context_path }}"
    --xxl.job.accessToken="{{ security.access_token }}" \
    --xxl.job.i18n=zh_CN

KillSignal=15
SuccessExitStatus=143
WorkingDirectory=/opt/xxl-job/

[Install]
WantedBy=multi-user.target
